{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["react", "babel"],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "react/prop-types": [
            "error",
            {
                "skipUndeclared": true
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
